body {
	width: 100vw;
	height: 100vh;
	background-color: #1F1F1F;
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	overflow: hidden;
	display: flex;
	align-items: center;
	justify-content: center;
}

canvas#main {
	width: min(100vw - 20px, (100vh - 20px) * 16 / 8.08);
	aspect-ratio: 16 / 8.08;
	display: block;
	border: 2px solid #5F0A5F;
	border-radius: 5px;
	margin: 10px;
}